
.idea
**/*.iml
**/*.ovpn
/.vs
start.ps1
start.sh
loadvariables.ps1
loadvariables.env

.terragrunt-cache
.terraform.lock*
*.tfstate
*.tfstate.backup
*.hosts
hosts
*.env
keystone_rc.sh
*.log
/log[s]
*.retry
ansible_venv

*.key
*.crt
*.pem